<footer class="footer" role="contentinfo">
    <div class="foot-icons" style="margin-bottom: 2em;">
        <a href="https://dev.to/jchekanoff">
            <i class="fab fa-dev"></i>
        </a>
        <a href="https://twitter.com/jchekanoff">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://github.com/jchekanoff">
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div>Copyright &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> &bull; All rights reserved.</div>
</footer>
