<nav class="header__nav" role="navigation">
    {{#foreach navigation}}
    <a class="header__link nav-{{slug}}{{#if current}} nav-current{{/if}}" href="{{url absolute="true"}}">
        {{label}}
    </a>
    {{/foreach}}
</nav>